//
   Created by Beth Aclaro on 10/19/15.

div(ng-controller="LoginController")
   h3 Login
   input(placeholder="Username here", ng-model="username")
   input(type="password", placeholder="Password here", ng-model="password")
   input(type="button", value="Login" ng-click="loginUser(username,password)")